html {
  background: white;
  color: #fff;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  padding: 0px 10px;
  margin: 0px 0 5px 0;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

p {
  font-size: 18px;
  padding: 0px 10px;
  margin: 10px 0 10px 0;
}

a {
  cursor: pointer;
}

.quote {
  padding: 0px 30px;
  margin: 10px 0 10px 0;
  font-style: italic;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0;
  flex-direction: row;
  border-bottom: 1px solid rgba(141, 132, 132, 0.8);
}

.top-imgs {
  display: flex;
  align-items: center;
  width: 50%;
}


/*Code for the :hover three line menu*/
.toggle-menu {
  height: 30px;
  /*border: 1px solid green;*/
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  flex-direction: column;
}

.dropdown img {
  display: block;
}

.hidden-links {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.828);
  color: black;
  display: flex;
  padding: px;
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
  border: 1px solid black;

}

.dropdown:hover .hidden-links {
  opacity: 1;
}

.hidden-links a {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Logo */
#logo {
  height: 60px;
  width: auto;
  padding: 0;
  margin: 0;
  /*border: 1px solid black;*/
}

.header-search {
  width: 50%;
  height: 100%;
  /*border: 1px solid orange;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.search-bar {
  height: 25px;
  padding: 8px 16px;
  border-radius: 30px 0 0 30px;
}

.search-button {
  height: 45px;
  width: 70px;
  border-radius: 30px;
  border: 0;
  background-color: #075e7a;
  color: white;
  margin-left: -25px;
}

nav {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgba(141, 132, 132, 0.8);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav li {
  list-style: none;

}

nav a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}

nav a:hover {
  color: #075e7a;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px 5px;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.big-news {
  grid-column: 3 / 9;
  grid-row: 1 / 2;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.big-news img {
  width: 100%;
  height: auto;
}

.big-news h1 {
  font-size: 2em;
  margin: 5px 0;
}

/*Live-feed on the right side*/

.live {
  grid-column: 9 / 11;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid black;

}

.first-live {
  line-height: 1.2;
  font-size: 14;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 8px 0 8px;


}

.first-live h5 {
  display: inline-block;
  font-size: 16px;
  padding: 0 5px;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
  ;
}

.first-live p {
  margin: 10px 0 0 0;
  display: inline-block;
  color: #e94c23;
}

.first-live h3 {
  font-size: 18px;
  display: block;
  margin: 5px 0 5px 0;
}

.border-line {
  width: 100%;
  height: 1px;
  background-color: rgba(141, 132, 132, 0.8);
  flex-grow: 1;
  display: block;
  flex-basis: 100%;
}

/*NEWS CONTINUE, from secod row*/

.second-row {
  grid-column: 3 / 11;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  /*border: 1px solid pink;*/
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.2;
}

.second-row h1 {
  font-size: 30px;
  padding: 0px 10px;
  margin: 0px 0 5px 0;
}

.second-row img {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgba(97, 96, 96, 0.8));
}

.second-left {
  grid-column: span 4;
  /*border: 1px solid red;*/
}

.second-right {
  grid-column: span 4;
  /*border: 1px solid blue;*/
}


/*Third row of news*/

.third-row {
  grid-column: 3 / 11;
  grid-row: 3 / 4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid pink;*/
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.2;
}

.third-left {
  flex-grow: 1;
  /*border: 1px solid green;*/
  width: 38%;
}

.third-left img {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  object-fit: cover;
  filter: drop-shadow(3px 3px 3px rgba(97, 96, 96, 0.8));
}

.third-right-wider {
  flex-grow: 1;
  /*border: 1px solid orange;*/
  width: 60%;
}

.third-right-wider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgba(97, 96, 96, 0.8));
}

.fourth-row {
  grid-column: 3 / 11;
  grid-row: 4 / 5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid pink;*/
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.2;
}

.fourth {
  box-sizing: border-box;
  width: 32%;
  flex-grow: 1;
}

.fourth img {
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  object-fit: cover;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgba(97, 96, 96, 0.8));
}


/*Footer*/
footer {
  grid-column: 1 / 12;
  grid-row: 5 / 6;
  height: 260px;
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  flex-wrap: wrap;
  border-top: 1px solid rgba(141, 132, 132, 0.8);
  box-sizing: border-box;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

footer li {
  list-style: none;
  line-height: 1.5;
}

.footer-links {
  width: 15%;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  margin: 2% 0 0 0;
}

.footer-links2 {
  width: 15%;
  margin: 2% 0 0 0;

}

footer a {
  text-decoration: none;
  color: rgba(141, 132, 132, 0.8);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-info {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid rgba(141, 132, 132, 0.8);
  border-right: 1px solid rgba(141, 132, 132, 0.8);
  margin: 2% 0 0 0;

}

.info-text {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.info-img {
  width: 25%;
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.info-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 5%;
}



/*Right most section in footer*/

.tips {
  width: 20%;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 2% 0 0 0;

}

.tips p {
  display: block;
  flex-direction: column;
  line-height: 1.0;
}

.tips img {
  width: 30px;
  margin-bottom: -10px;
}

.devider-line {
  width: 1px;
  height: 100%;
  background-color: rgba(141, 132, 132, 0.8);
  flex-basis: 100%;
  margin: 0 0 -5px 5px;
}

.social-media {
  display: flex;
  flex-basis: 100%;
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-media img {
  padding: 0 10px 15px 10px;
  width: 30px;
  margin: 10px 0 5px 0;
}